/*PROVA 2*/

.video-bg {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: 0;
}

.section {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100vh;

}



.section2 {
	display: flex;
	flex-direction: column;
	/* Imposta la direzione dei figli in colonna */
	gap: 20px;
	/* Spazio tra i div */
}

.conteiner-text {
	border: 1px solid black;
	background: linear-gradient(220.55deg, rgba(255, 173, 247, 0.5) 0%, rgba(177, 255, 150, 0.5) 100%);
	border-radius: 10px;
	margin: 50px;

}


.conteiner-title {

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.conteiner-title2 {

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.conteiner-img {

	background-image: url(album/basilica.jpeg);
	object-fit: contain;
}

.title {

	text-align: center;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title2 {

	text-align: start;
	display: flex;
	justify-content: center;
	align-items: center;

}

img {
	width: 100%;
	height: 70vh;
	top: 0;
	left: 0;
	object-fit: contain;
	margin-top: 100px;
}

.pagamenti {

	width: 100px;
	height: 100px;
	border: 1px solid green;
	object-fit: contain;
	margin-left: 20px;
	background-color: white;
	border-radius: 10px;

}


.container {
	display: flex;
	flex-wrap: wrap;
	/* Permette il wrapping dei div su nuove linee se non c'è abbastanza spazio */
	gap: 10px;
	/* Spazio tra i div */
}


.item {
	width: 200px;
	height: 50px;
	border: 2px solid green;
	background: linear-gradient(220.55deg, rgba(255, 173, 247, 0.5) 0%, rgba(177, 255, 150, 0.5) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.item2 {
	width: 200px;
	height: 300px;
	border: 2px solid green;
	background: linear-gradient(220.55deg, rgba(255, 173, 247, 0.5) 0%, rgba(177, 255, 150, 0.5) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {

	padding-right: 10px;
}



.grid {
	display: flex;
	overflow-x: scroll;
	padding: 0 10%;
	flex-wrap: nowrap;
	position: relative;
	padding: 0 10%;
	animation: scroll 90s linear infinite; /* Applica l'animazione */
	width: 100%;
	
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}


.col-33 {

	flex: 0 0 auto;

	width: 33.33%;
	padding: 40px;
	border: 1px solid black;
	border-radius: 10px;
	background: linear-gradient(220.55deg, rgba(255, 173, 247, 0.5) 0%, rgba(177, 255, 150, 0.5) 100%);
	height: 60vh;
	margin-top: 50px;
	position: relative;
	overflow-y: scroll;
	max-height: 600px;
	display: inline-block;
	vertical-align: top;
	transition: 0.3 ease;

	
	
}
.col-33:hover {
    background-color: #FF69B4; 
}

.avatar {

	border: 1px solid black;
	border-radius: 100px;
	background-color: blue;
	width: 100px;
	height: 100px;
	object-fit: contain;
	z-index: 6;
	margin-left: 25%;
	vertical-align: top;
	margin-top: -40px;
	position: relative;



}


.col-100 {
	width: 100%;
	padding: 10% 20px;
}

@media (max-width: 768px) {

	.col-25,
	.col-50,
	.col-40,
	.col-60,
	.col-33,
	.col-100 {
		width: 100%;
	}


	.reverse {
		flex-direction: column-reverse;
	}

}

/*
.hero_card{
	border: 1px solid red;
	width: 100%;
	height: 50vh;
	position: relative;
	margin-top: 30px;
	overflow: hidden;
}




.conteiner_card{

	display: flex;
	flex-wrap: nowrap;
	margin-left: 10px;
	position: absolute;
	bottom: 50%;
	border: 1px solid black;
	overflow-x: scroll;
	white-space: nowrap;
	width: 100%;
	max-width: 100%;
	padding: 0 50px;
	height: 100%;

}

.conteiner_card .ml {
    display: inline-block;
    flex: 0 0 auto;
	margin-right: 10px;
	width: 200px;
	height: 600px;
	background-color: #FF4191;
	position: absolute;
	
}

.conteiner_card h1:last-child {
    margin-right: -20px;
}
	*/

.finish {
	display: flex;
	width: 100%;
	height: 70vh;
	background-color: black;
	z-index: 4;
	margin-top: 10%;
	/*non funziona*/
	justify-content: space-between;
	align-items: center;

}


/*UTILY*/

.mt {
	margin-top: 50px;
	padding: 10px;
}

.mt_title{

	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	 color: blue;
}

.ml {
	margin-left: 20px;
}

.cdn {
	margin-left: 30px;
	background: linear-gradient(220.55deg, #5EE2FF 0%, #00576A 100%);
	border-radius: 10px;
}

.cdn2 {
	margin-left: 30px;

	border-radius: 10px;
	object-fit: cover;
	width: 300px;
	height: 100px;
}

.info {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 30px;
}

.personal {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 30px;
}

.orderC {

	display: columns;
}

.total {

	border: 1px solid black;
	border-radius: 100px;
}

.big-text {
	font-size: 25px;
	color: #FF4191;
	text-decoration: none;
}

.med-text {
	font-size: 20px;

}

.normal-text {
	font-size: 15px;
	color: black;
	font-weight: bold;
}

.intro-text {
	text-transform: uppercase;
	font-size: 20px;
}

/*
@media (max-width: 768px) {
	.normal-text{ text-sm-end}
	
}*/

.animate__fadeInTopLeft {

	--animate-duration: 3s;
}

.animate__fadeInTopRight {

	--animate-duration: 3s;
}

.animate__animate__wobble {

	--animate-duration: 6s;
}












/*SEZIONE PRIMA

.hero {

	height: 600px;
	display: flex;
	width: 100%;
	align-items: center;
	background: url(album/video-back.mp4);
	background-size: cover;
	height: 100vh;
}

.hero__content {

	max-width: 1350px;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.hero {
		background-image: url(album/Bari\ 800px.jpeg);
		height: 100vh;
		background-size: cover;
		background-repeat: no-repeat;

	}
}

*/


/*serve per evitare che gli elementi si sovrapongono*/
*,
*::before,
*::after {

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}