/*PROVA 2*/

.video-bg {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: 0;
}

.section {


	position: relative;
	z-index: 1;
	width: 100%;
	height: 100vh;
	border: 1px solid red;
}

.section2 {
	display: flex;
	flex-direction: column; /* Imposta la direzione dei figli in colonna */
	gap: 20px; /* Spazio tra i div */
}



.conteiner-title {

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.conteiner-title2 {

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.title {

	text-align: center;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title2 {

	text-align: start;
	display: flex;
	justify-content: center;
	align-items: center;

}

img {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	object-fit: contain;
}


.container {
	display: flex;
	flex-wrap: wrap; /* Permette il wrapping dei div su nuove linee se non c'è abbastanza spazio */
	gap: 10px; /* Spazio tra i div */
}


.item {
	width: 200px;
	height: 50px;
	border: 2px solid green;
	background-color: red;
}


/*UTILY*/

.big-text {
	font-size: 25px;
	color: #FF4191;
	text-decoration: none;


}

.med-text {
	font-size: 20px;

}

.normal-text {
	font-size: 15px;
	color: white;
}

.intro-text {
	text-transform: uppercase;
	font-size: 20px;
}

.animate__fadeInTopLeft {

	--animate-duration: 3s;
}

.animate__fadeInTopRight {

	--animate-duration: 3s;
}












/*SEZIONE PRIMA

.hero {

	height: 600px;
	display: flex;
	width: 100%;
	align-items: center;
	background: url(album/video-back.mp4);
	background-size: cover;
	height: 100vh;
}

.hero__content {

	max-width: 1350px;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.hero {
		background-image: url(album/Bari\ 800px.jpeg);
		height: 100vh;
		background-size: cover;
		background-repeat: no-repeat;

	}
}

*/




@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	background: #333;
	color: #fff;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.boxes {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	width: 100%;
	height: 100%;

	.box {
		position: relative;
		flex: 1 1 auto;
		width: 20%;
		background: grey;
		transition: all .5s ease-in-out;
		cursor: pointer;
		overflow: hidden;

		.text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0.5);
			font-weight: 700;
			font-size: 30px;
			text-transform: uppercase;
			color: transparent;
			transition: all .5s ease-in-out;
		}

		&.dark {
			background-image: url(/album/foto\ 1.jpg);
			background-size: cover;

		}

		&.orange {
			background: #e67e22;
		}

		&:hover {
			width: 100%;

			.text {
				color: #fff;
				transform: translate(-50%, -50%) scale(1);
			}

		}

	}

}

/*UTILY








/*serve per evitare che gli elementi si sovrapongono*/
*,
*::before,
*::after {

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}